.navbar{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1px solid rgb(231, 228, 228);
    padding: 20px;
    h3{
        font-size: 1.5rem;
    }
    .icon-container{
        display: flex;
        flex-direction: row;
        .icons{
            display: flex;
            flex-direction: row;
            color: blueviolet;
            position: relative;
            padding-left: 20px;
            :hover{
                color: lightblue;
                cursor: pointer;
            }
            .counter{
                height: 20px;
                width: 20px;
                background-color: red;
                border-radius: 50px;
                align-items: center;
                justify-content: center;
                font-size: 10;
                color: white;
                font-weight: bold;
                display: flex;
                position: absolute;
                top: -5px;
                right: -4px;
                :hover{
                    color: white;
                    cursor: default;
                }
            }
        }
    }
    
}